<div class="container">
                        <div class="row justify-content-end">
                            <a href="javascript:void(0)" class="collapse-control pb-2">{{ trans('lang.展開全部') }}</a>
                        </div>
                    </div>
                    <div id="admission">
                        <div class="card">
                            <a class="card-header" id="process" data-toggle="collapse" data-target="#collapseProcess"
                               aria-expanded="false" aria-controls="collapseProcess">
                                住出院流程
                                <i class="fa fa-angle-down fa-lg menu__icon--open pl-1"></i>
                                <i class="fa fa-angle-up fa-lg menu__icon--close pl-1"></i>
                            </a>
                            <div id="collapseProcess" class="collapse" aria-labelledby="process"
                                 data-parent="#admission">
                                <div class="card-body">
                                    <img class="img-fluid d-none d-md-block pt-3"
                                         src="/img/住出院流程.png"
                                         alt="住出院流程">
                                    <img class="img-fluid d-md-none d-sm-block pt-3"
                                         src="/img/住出院流程_手機.png"
                                         alt="住出院流程">
                                    <div class="alert alert-primary mt-3" role="alert">
                                        ※ 低收入戶、重大傷病、榮民、產婦、職災、肺結核不收取10%的健保。
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <a class="card-header" id="note" data-toggle="collapse" data-target="#collapseNote"
                               aria-expanded="false" aria-controls="collapseNote">
                                住院須知
                                <i class="fa fa-angle-down fa-lg menu__icon--open pl-1"></i>
                                <i class="fa fa-angle-up fa-lg menu__icon--close pl-1"></i>
                            </a>
                            <div id="collapseNote" class="collapse" aria-labelledby="note" data-parent="#admission">
                                <div class="card-body">
                                    <h4 class="text-primary py-2"><i class="fas fa-caret-right pr-2"></i>住院手續</h4>
                                    <ol class="text-primary pl-4 pt-1 pb-2 m-0">
                                        <li class="pb-2"><span class="text-dark">辦理住院時，請攜帶醫生開立的住院證、身分證、健保IC卡一樓住、出院處辦理住院手續。</span>
                                        </li>
                                        <li class="pb-2"><span class="text-dark">住院時健保卡須存放於住院處，於辦妥出院手續後奉還。</span>
                                        </li>
                                    </ol>
                                    <h4 class="text-primary py-2"><i class="fas fa-caret-right pr-2"></i>收費標準</h4>
                                    <ol class="text-primary pl-4 pt-1 pb-2 m-0">
                                        <li class="pb-2"><span class="text-dark">住院基本費用計算方法，依健保規定收取。</span>
                                        </li>
                                        <li class="pb-2"><span class="text-dark">非健保給付項目請患者自行負擔。</span>
                                        </li>
                                        <li class="pb-2"><span class="text-dark">自費住院之病患應預付醫療費用，<span
                                                        class="text-danger">內、兒科30,000元；外、婦科50,000元</span>。</span>
                                        </li>
                                    </ol>
                                    <h4 class="text-primary py-2"><i class="fas fa-caret-right pr-2"></i>文件申請</h4>
                                    <ol class="text-primary pl-4 pt-1 pb-2 m-0">
                                        <li class="pb-2"><span class="text-dark">住院病患若需任何證明文件或出院病歷摘要，應事先告知護理站。</span>
                                        </li>
                                        <li class="pb-2"><span class="text-dark">病患出院後申請診斷證明，需經門診掛號後，向主治醫師申請。</span>
                                        </li>
                                    </ol>
                                    <h4 class="text-primary py-2"><i class="fas fa-caret-right pr-2"></i>出院手續</h4>
                                    <ol class="text-primary pl-4 pt-1 pb-2 m-0">
                                        <li class="pb-2"><span class="text-dark">護理站通知住出院處後，需等出院處通知護理站，再由護理站轉知病患親自到住出院處結帳。</span>
                                        </li>
                                        <li class="pb-2"><span class="text-dark">住院期間的費用，繳費方式目前僅接受現金付款，如有不便，敬請見諒。</span>
                                        </li>
                                    </ol>
                                    <h4 class="text-primary py-2"><i class="fas fa-caret-right pr-2"></i>住院注意事項</h4>
                                    <ol class="text-primary pl-4 pt-1 pb-2 m-0">
                                        <li class="pb-2"><span class="text-dark">若欲查詢住院病患名單，請洽服務台。</span>
                                        </li>
                                        <li class="pb-2"><span
                                                    class="text-dark">病房提供被服，請攜帶少數日常用品（睡衣等）；請勿攜帶貴重財物，以免遺失。</span>
                                        </li>
                                        <li class="pb-2"><span
                                                    class="text-dark">病床被服，原則上每週更換一次，如有沾污情形，可隨時與護理人員聯繫更換。</span>
                                        </li>
                                        <li class="pb-2"><span class="text-dark">依健保合約規定患者於住院期間不得請假或外宿，如有緊急事故必須處理者，需經主治醫師同意，並填寫請假單存於病歷，夜間八時後不得請假。</span>
                                        </li>
                                        <li class="pb-2"><span
                                                    class="text-dark">請不要在醫院內吸煙、喝酒、賭博、使用電器、攜帶寵物並請維持病房清潔。</span>
                                        </li>
                                        <li class="pb-2"><span
                                                    class="text-dark">病患膳食係經醫囑依病情由營養師配製，膳食費需由病患自行負擔，本院膳食供應時間：</span>
                                            <ul class="text-primary pl-4 pt-1 py-2 m-0">
                                                <li><span class="text-dark">早餐：7：40；午餐：11：40；晚餐：17：10</span>
                                                </li>
                                                <li><span class="text-dark">家屬亦可至地下室營養科點餐。</span>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="pb-2"><span class="text-dark">非經工作人員許可，請不要擅自進入護理站。</span>
                                        </li>
                                        <li class="pb-2"><span class="text-dark">住院中如發現行跡可疑陌生人或推銷物品者，請與護理站聯絡。</span>
                                        </li>
                                        <li class="pb-2"><span class="text-dark">病患請遵守醫囑及病房規則，以維護病患安全及達到治療效果。</span>
                                        </li>
                                        <li class="pb-2"><span class="text-dark">本院的探訪住院病患時間：</span>
                                            <ul class="text-primary pl-4 pt-1 py-2 m-0">
                                                <li><span class="text-dark">7：00至22：00</span>
                                                </li>
                                                <li><span class="text-dark">門禁時間：晚上22：00至7：00（請由急診室出入）。</span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <a class="card-header" id="payment" data-toggle="collapse" data-target="#collapsePayment"
                               aria-expanded="false" aria-controls="collapsePayment">
                                急性病床費用一覽表
                                <i class="fa fa-angle-down fa-lg menu__icon--open pl-1"></i>
                                <i class="fa fa-angle-up fa-lg menu__icon--close pl-1"></i>
                            </a>
                            <div id="collapsePayment" class="collapse" aria-labelledby="payment"
                                 data-parent="#admission">
                                <div class="card-body">
                                    <div class="d-none d-md-block">
                                        <table class="table table-bordered table-hover text-center">
                                            <thead class="bg-primary text-white">
                                            <tr>
                                                <th class="align-middle">類別</th>
                                                <th class="align-middle">樓層</th>
                                                <th class="align-middle">健保升等差額
                                                    <br>（元/日）
                                                </th>
                                                <th class="align-middle">自費
                                                    <br>（元/日）
                                                </th>
                                                <th class="align-middle">病房類別及床號</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>特等房</td>
                                                <td>6F</td>
                                                <td>6,030</td>
                                                <td>7,580</td>
                                                <td class="text-left">605A、650B（共2床）</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="2" class="align-middle">一人房<br>(A)</td>
                                                <td>3F</td>
                                                <td rowspan="2" class="align-middle">4,250</td>
                                                <td rowspan="2" class="align-middle">5,800</td>
                                                <td class="text-left">302.303.305~312（共10床）</td>
                                            </tr>
                                            <tr>
                                                <td>6F</td>
                                                <td class="text-left">608.610~612.618.631~633.635~639（共13床）</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="3" class="align-middle">一人房<br>(B)</td>
                                                <td>3F</td>
                                                <td rowspan="3" class="align-middle">3,700</td>
                                                <td rowspan="3" class="align-middle">5,250</td>
                                                <td class="text-left">315.318.325（共3床）</td>
                                            </tr>
                                            <tr>
                                                <td>5F</td>
                                                <td class="text-left">518.525（共2床）</td>
                                            </tr>
                                            <tr>
                                                <td>6F</td>
                                                <td class="text-left">615.625（共2床）</td>
                                            </tr>
                                            <tr>
                                                <td class="align-middle">二人房<br>(C)</td>
                                                <td class="align-middle">3F</td>
                                                <td class="align-middle">2,700</td>
                                                <td class="align-middle">4,250</td>
                                                <td class="align-middle text-left">301AB（共2床）</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="2" class="align-middle">二人房<br>(D)</td>
                                                <td>3F</td>
                                                <td rowspan="2" class="align-middle">2,500</td>
                                                <td rowspan="2" class="align-middle">4,050</td>
                                                <td class="text-left">316AB（共2床）</td>
                                            </tr>
                                            <tr>
                                                <td>6F</td>
                                                <td class="text-left">623AB（共10床）</td>
                                            </tr>
                                            <tr>
                                                <td>ER</td>
                                                <td>1F</td>
                                                <td>免付差額</td>
                                                <td>500</td>
                                                <td class="text-left">101~102（共2床）</td>
                                            </tr>
                                            <tr>
                                                <td>ICU</td>
                                                <td>2F</td>
                                                <td>免付差額</td>
                                                <td>7,577</td>
                                                <td class="text-left">201~203.205~207（共6床）</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="3" class="align-middle">保險病房<br>(二人房)</td>
                                                <td>3F</td>
                                                <td rowspan="3" class="align-middle">免付差額</td>
                                                <td rowspan="3" class="align-middle">3,525</td>
                                                <td class="text-left">322AB.323AB（共4床）</td>
                                            </tr>
                                            <tr>
                                                <td>5F</td>
                                                <td class="text-left">502AB~503AB.505AB~512AB.<br>515AB~516AB.519AB~523AB（共34床）
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>6F</td>
                                                <td class="text-left">602AB~603AB.605AB~607AB.<br>609AB.616AB（共14床）</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="3" class="align-middle">保險病房<br>(三人房以上)</td>
                                                <td>3F</td>
                                                <td rowspan="3" class="align-middle">免付差額</td>
                                                <td rowspan="3" class="align-middle">3,100</td>
                                                <td class="text-left">321ABC（共3床）</td>
                                            </tr>
                                            <tr>
                                                <td>5F</td>
                                                <td class="text-left">501ABCD(共4床)</td>
                                            </tr>
                                            <tr>
                                                <td>6F</td>
                                                <td class="text-left">601ABCD(共4床)</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="d-md-none d-sm-block">
                                        <table class="table table-bordered table-hover text-center">
                                            <thead class="bg-primary text-white">
                                            <tr>
                                                <th class="align-middle">類別</th>
                                                <th class="align-middle">健保升等差額（元/日）</th>
                                                <th class="align-middle">自費（元/日）</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>一人房(A)</td>
                                                <td class="align-middle">4,250</td>
                                                <td class="align-middle">5,800</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"
                                                    class="bg-primary text-white">樓層病房類別及床號
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="text-left">
                                                    <strong>3F</strong><br>302.303.305~312（共10床）<br>
                                                    <strong>6F</strong><br>608.610~612.631~633.635~639（共12床）
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered table-hover text-center">
                                            <thead class="bg-primary text-white">
                                            <tr>
                                                <th class="align-middle">類別</th>
                                                <th class="align-middle">健保升等差額（元/日）</th>
                                                <th class="align-middle">自費（元/日）</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>一人房(B)</td>
                                                <td class="align-middle">3,700</td>
                                                <td class="align-middle">5,250</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"
                                                    class="bg-primary text-white">樓層病房類別及床號
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="text-left">
                                                    <strong>3F</strong><br>315.318.325（共3床）<br>
                                                    <strong>5F</strong><br>518.525（共2床）<br>
                                                    <strong>6F</strong><br>615.618.625（共3床）
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered table-hover text-center">
                                            <thead class="bg-primary text-white">
                                            <tr>
                                                <th class="align-middle">類別</th>
                                                <th class="align-middle">健保升等差額（元/日）</th>
                                                <th class="align-middle">自費（元/日）</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>二人房(C)</td>
                                                <td class="align-middle">2,692</td>
                                                <td class="align-middle">4,242</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"
                                                    class="bg-primary text-white">樓層病房類別及床號
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="text-left">
                                                    <strong>3F</strong><br>301AB（共2床）<br>
                                                    <strong>6F</strong><br>650AB（共2床）
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered table-hover text-center">
                                            <thead class="bg-primary text-white">
                                            <tr>
                                                <th class="align-middle">類別</th>
                                                <th class="align-middle">健保升等差額（元/日）</th>
                                                <th class="align-middle">自費（元/日）</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>二人房(D)</td>
                                                <td class="align-middle">2,100</td>
                                                <td class="align-middle">3,650</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"
                                                    class="bg-primary text-white">樓層病房類別及床號
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="text-left">
                                                    <strong>3F</strong><br>316AB（共2床）<br>
                                                    <strong>6F</strong><br>623AB（共10床）
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered table-hover text-center">
                                            <thead class="bg-primary text-white">
                                            <tr>
                                                <th class="align-middle">類別</th>
                                                <th class="align-middle">健保升等差額（元/日）</th>
                                                <th class="align-middle">自費（元/日）</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>洗腎</td>
                                                <td class="align-middle">免付差額</td>
                                                <td class="align-middle">4,100</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"
                                                    class="bg-primary text-white">樓層病房類別及床號
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="text-left">
                                                    <strong>2F</strong><br>211~225（共15床）
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered table-hover text-center">
                                            <thead class="bg-primary text-white">
                                            <tr>
                                                <th class="align-middle">類別</th>
                                                <th class="align-middle">健保升等差額（元/日）</th>
                                                <th class="align-middle">自費（元/日）</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>嬰兒床</td>
                                                <td class="align-middle">免付差額</td>
                                                <td class="align-middle">1,500</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"
                                                    class="bg-primary text-white">樓層病房類別及床號
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="text-left">
                                                    <strong>3F</strong><br>B1~B2（共2床）
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered table-hover text-center">
                                            <thead class="bg-primary text-white">
                                            <tr>
                                                <th class="align-middle">類別</th>
                                                <th class="align-middle">健保升等差額（元/日）</th>
                                                <th class="align-middle">自費（元/日）</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>ER</td>
                                                <td class="align-middle">免付差額</td>
                                                <td class="align-middle">500</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"
                                                    class="bg-primary text-white">樓層病房類別及床號
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="text-left">
                                                    <strong>1F</strong><br>101~102（共2床）
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered table-hover text-center">
                                            <thead class="bg-primary text-white">
                                            <tr>
                                                <th class="align-middle">類別</th>
                                                <th class="align-middle">健保升等差額（元/日）</th>
                                                <th class="align-middle">自費（元/日）</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>ICU</td>
                                                <td class="align-middle">免付差額</td>
                                                <td class="align-middle">7,577</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"
                                                    class="bg-primary text-white">樓層病房類別及床號
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="text-left">
                                                    <strong>2F</strong><br>201~203.205~207（共6床）
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered table-hover text-center">
                                            <thead class="bg-primary text-white">
                                            <tr>
                                                <th class="align-middle">類別</th>
                                                <th class="align-middle">健保升等差額（元/日）</th>
                                                <th class="align-middle">自費（元/日）</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>保險病房(二人房)</td>
                                                <td class="align-middle">免付差額</td>
                                                <td class="align-middle">3,525</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"
                                                    class="bg-primary text-white">樓層病房類別及床號
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="text-left">
                                                    <strong>3F</strong><br>322AB.323AB（共4床）<br>
                                                    <strong>5F</strong><br>502AB~503AB.505AB~512AB.<br>515AB~516AB.519AB~523AB（共34床）<br>
                                                    <strong>6F</strong><br>602AB~603AB.605AB~607AB.609AB.616AB（共14床）
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered table-hover text-center">
                                            <thead class="bg-primary text-white">
                                            <tr>
                                                <th class="align-middle">類別</th>
                                                <th class="align-middle">健保升等差額（元/日）</th>
                                                <th class="align-middle">自費（元/日）</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>保險病房<br>(三人房以上)</td>
                                                <td class="align-middle">免付差額</td>
                                                <td class="align-middle">3,100</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"
                                                    class="bg-primary text-white">樓層病房類別及床號
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="text-left">
                                                    <strong>3F</strong><br>321ABC（共3床）<br>
                                                    <strong>5F</strong><br>501ABCD(共4床)<br>
                                                    <strong>6F</strong><br>601ABCD(共4床)
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <a class="card-header" id="occupied" data-toggle="collapse"
                               data-target="#collapseOccupied"
                               aria-expanded="false" aria-controls="collapseOccupied">
                                {{ trans('lang.病房佔床一覽表') }}
                                <i class="fa fa-angle-down fa-lg menu__icon--open pl-1"></i>
                                <i class="fa fa-angle-up fa-lg menu__icon--close pl-1"></i>
                            </a>
                            <div id="collapseOccupied" class="collapse" aria-labelledby="occupied"
                                 data-parent="#admission">
                                <div class="card-body">
                                    <h4 class="text-primary py-2"><i
                                                class="fas fa-caret-right pr-2"></i>{{ trans('lang.醫事機構') }}</h4>
                                    <ul class="text-primary pl-4 pt-1 pb-2 m-0">
                                        <li class="pb-2"><span
                                                    class="text-dark">{{ trans('lang.醫事機構代碼') }}：1101020036</span>
                                        </li>
                                        <li class="pb-2"><span
                                                    class="text-dark">{{ trans('lang.醫事機構名稱') . "：" . trans('lang.宏恩醫療財團法人宏恩綜合醫院') }}</span>
                                        </li>
                                        <li class="pb-2"><span
                                                    class="text-dark">{{ trans('lang.總病床數') }}：{{ $occupied[0]->急性一般總床數 + $occupied[0]->ICU總床數 + $occupied[0]->洗腎總床數 + $occupied[0]->嬰兒總床數 + $occupied[0]->急診總床數 + $occupied[0]->急性差額一人床數 + $occupied[0]->急性差額二人床數 }}</span>
                                        </li>
                                        <li class="pb-2"><span
                                                    class="text-dark">{{ trans('lang.急性保險病床數') }}：{{ $occupied[0]->急性一般總床數 + $occupied[0]->ICU總床數 }}</span>
                                        </li>
                                        <li class="pb-2"><span class="text-dark">{{ trans('lang.急性保險病床比率') }}：{{ ($occupied[0]->急性一般總床數 + $occupied[0]->ICU總床數)/($occupied[0]->急性一般總床數 + $occupied[0]->ICU總床數 + $occupied[0]->急性差額一人床數 + $occupied[0]->急性差額二人床數) * 100 }}%</span>
                                        </li>
                                    </ul>
                                    <table class="table table-bordered table-hover text-center">
                                        <thead class="bg-primary text-white">
                                        <tr>
                                            <th colspan="4"
                                                class="bg-primary text-white">{{ trans('lang.急性病床') }}</th>
                                        </tr>
                                        <tr>
                                            <th class="align-middle">{{ trans('lang.病床名稱') }}</th>
                                            <th>{{ trans('lang.總床數') }}</th>
                                            <th>{{ trans('lang.佔床數') }}</th>
                                            <th>{{ trans('lang.空床數') }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="4"
                                                class="bg-light">{{ trans('lang.保險病床') . "：" . trans('lang.一般病床') }}</td>
                                        </tr>

                                        <tr>
                                            <td>{{ trans('lang.急性一般病床') }}</td>
                                            <td class="align-middle">{{ $occupied[0]->急性一般總床數 }}</td>
                                            <td class="align-middle">{{ $occupied[0]->急性一般佔床數 }}</td>
                                            <td class="align-middle">{{ $occupied[0]->急性一般空床數 }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4"
                                                class="bg-light">{{ trans('lang.保險病床') . "：" . trans('lang.特殊病床') }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ trans('lang.加護病床') }}</td>
                                            <td>{{ $occupied[0]->ICU總床數 }}</td>
                                            <td>{{ $occupied[0]->ICU佔床數 }}</td>
                                            <td>{{ $occupied[0]->ICU空床數 }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ trans('lang.洗腎治療床') }}</td>
                                            <td>{{ $occupied[0]->洗腎總床數 }}</td>
                                            <td>{{ $occupied[0]->洗腎佔床數 }}</td>
                                            <td>{{ $occupied[0]->洗腎空床數 }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ trans('lang.嬰兒床') }}</td>
                                            <td>{{ $occupied[0]->嬰兒總床數 }}</td>
                                            <td>{{ $occupied[0]->嬰兒佔床數 }}</td>
                                            <td>{{ $occupied[0]->嬰兒空床數 }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ trans('lang.急診觀察床') }}</td>
                                            <td>{{ $occupied[0]->急診總床數 }}</td>
                                            <td>{{ $occupied[0]->急診佔床數 }}</td>
                                            <td>{{ $occupied[0]->急診空床數 }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-bordered table-hover text-center">
                                        <thead class="bg-primary text-white">
                                        <tr>
                                            <th colspan="3"
                                                class="bg-primary text-white">{{ trans('lang.急性收差額病床') }}</th>
                                        </tr>
                                        <tr>
                                            <th>{{ trans('lang.病床數') }}</th>
                                            <th>{{ trans('lang.佔床數') }}</th>
                                            <th>{{ trans('lang.空床數') }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="3"
                                                class="bg-light">{{ trans('lang.一人床') }}</td>
                                        </tr>

                                        <tr>
                                            <td>{{ $occupied[0]->急性差額一人床數 }}</td>
                                            <td>{{ $occupied[0]->急性差額一人佔床數 }}</td>
                                            <td>{{ $occupied[0]->急性差額一人空床數 }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"
                                                class="bg-light">{{ trans('lang.二人床') }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ $occupied[0]->急性差額二人床數 }}</td>
                                            <td>{{ $occupied[0]->急性差額二人佔床數 }}</td>
                                            <td>{{ $occupied[0]->急性差額二人空床數 }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"
                                                class="bg-light">{{ trans('lang.總計') }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">{{ $occupied[0]->急性差額一人床數 + $occupied[0]->急性差額二人床數 }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="alert alert-primary mt-3" role="alert">
                                        <ol class="text-primary pl-4 pt-1 pb-2 m-0">
                                            <li class="pb-2"><span
                                                        class="text-dark">{{ trans('lang.實際床位狀況') }}</span>
                                            </li>
                                            <li class="pb-2"><span
                                                        class="text-dark">{{ trans('lang.空床之使用') }}</span>
                                            </li>
                                            <li class="pb-2"><span
                                                        class="text-dark">{{ trans('lang.六樓病房區提供免費無線網路') }}</span>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <a class="card-header" id="ratios" data-toggle="collapse" data-target="#collapseRatios"
                               aria-expanded="false" aria-controls="collapseRatios">
                                {{ trans('lang.急性一般病床全日平均護病比') }}
                                <i class="fa fa-angle-down fa-lg menu__icon--open pl-1"></i>
                                <i class="fa fa-angle-up fa-lg menu__icon--close pl-1"></i>
                            </a>
                            <div id="collapseRatios" class="collapse" aria-labelledby="ratios"
                                 data-parent="#admission">
                                <div class="card-body">
                                    <h4 class="text-primary py-2"><i
                                                class="fas fa-caret-right pr-2"></i>{{ trans('lang.醫療機構設置標準') }}</h4>
                                    <p>{{ trans('lang.醫療機構設置標準說明') }}</p>
                                    <ul class="text-primary pl-4 pt-1 pb-2 m-0">
                                        <li class="pb-2"><span class="text-dark">{{ trans('lang.地區醫院') }}</span>
                                        </li>
                                        <li class="pb-2"><span class="text-dark">{{ Session::get('locale') == 'en' ? $nurse_patient[0]['en_month'] .  trans('lang.急性一般病床全日平均護病比') : $nurse_patient[0]['month'] . trans('lang.急性一般病床全日平均護病比') }}：<span
                                                        class="text-danger">{{ $nurse_patient[0]['ratio'] }}</span></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        $(document).ready(function () {
                            $('.collapse-control').on('click', function () {
                                if ($(this).data('lastState') === undefined || $(this).data('lastState') === 0) {
                                    $('#admission .collapse').removeAttr('data-parent');
                                    $('#admission .collapse').collapse('show');
                                    $(this).data('lastState', 1);
                                    $(this).text('{{ trans('lang.收合全部') }}');
                                } else {
                                    $('#admission .collapse').attr('data-parent', '#accordion');
                                    $('#admission .collapse').collapse('hide');
                                    $(this).data("lastState", 0);
                                    $(this).text('{{ trans('lang.展開全部') }}');
                                }
                            })
                        });
                    </script>