<h4><i class="fas fa-caret-right text-primary pr-2"></i>急診室業務簡介</h4>
                    <ol class="pl-4 pt-1 pb-2 m-0">
                        <li class="text-primary pb-2"><span class="text-dark">內外科急診病人、產兒科急診病人</span></li>
                        <li class="text-primary pb-2"><span class="text-dark">醫師約診的病人</span></li>
                        <li class="text-primary pb-2"><span class="text-dark">門診病人針劑注射處</span></li>
                        <li class="text-primary pb-2"><span class="text-dark">心電圖、二十四小時心電圖、聽力檢查預約、四癌篩檢等</span></li>
                        <li class="text-primary pb-2"><span class="text-dark">安養院住院醫療</span></li>
                    </ol>
                    <h4><i class="fas fa-caret-right text-primary pr-2"></i>病人轉院處置作業</h4>
                    <ul class="pl-4 pt-1 pb-2 m-0">
                        <li class="text-primary pb-2"><span class="text-dark">凡因本院設備不足或因病情需要而需轉院時</span></li>
                        <ol class="pl-4 pt-1 pb-2 m-0">
                            <li class="text-primary pb-2"><span class="text-dark">向家屬解釋轉院之原因</span></li>
                            <li class="text-primary pb-2"><span class="text-dark">協助聯絡欲前往之醫院有無此設備或病床</span></li>
                            <li class="text-primary pb-2"><span class="text-dark">視病情需要予聯絡救護車</span></li>
                        </ol>
                        <li class="text-primary pb-2"><span class="text-dark">因病患要求轉院時</span></li>
                        <ol class="pl-4 pt-1 pb-2 m-0">
                            <li class="text-primary pb-2"><span class="text-dark">請家屬或病人填寫自動出院書，並簽名蓋章或蓋手印</span></li>
                            <li class="text-primary pb-2"><span class="text-dark">視情需要予聯絡救護車</span></li>
                            <li class="text-primary pb-2"><span class="text-dark">依需要書寫病歷摘要</span></li>
                        </ol>
                        <li class="text-primary pb-2"><span class="text-dark">將所有帳目結清，辦完手續才離院</span></li>
                        <li class="text-primary pb-2"><span class="text-dark">於護理記錄單及急診登記本上，寫明轉院時間及醫院名稱。完成記錄（包括護理記錄、急診記本轉院名稱及時間）</span>
                        </li>
                    </ul>
                    <h4><i class="fas fa-caret-right text-primary pr-2"></i>病人出院處置作業</h4>
                    <ul class="pl-4 pt-1 pb-2 m-0">
                        <li class="text-primary pb-2"><span class="text-dark">經治療無需住院觀察者</span></li>
                        <ol class="pl-4 pt-1 pb-2 m-0">
                            <li class="text-primary pb-2"><span class="text-dark">視病情需要開立出院處方領藥帶回</span></li>
                            <li class="text-primary pb-2"><span class="text-dark">依病情需要給予出院</span></li>
                            <li class="text-primary pb-2"><span class="text-dark">需門診治療者則告知下次門診時間</span></li>
                        </ol>
                        <li class="text-primary pb-2"><span class="text-dark">自動出院者，由病人或其家屬填寫自動出院切結書並簽名蓋章或蓋手印‚並在急診護理紀錄中記錄離院時間以及註明AAD</span>
                        </li>
                        <li class="text-primary pb-2"><span class="text-dark">批價單、領藥單請病人或家屬，至服務台批價 繳費後領藥離院</span></li>
                        <li class="text-primary pb-2"><span class="text-dark">離院時間登記於急診護理記錄單及急診登記本上</span></li>
                    </ul>
                    <h4><i class="fas fa-caret-right text-primary pr-2"></i>急診流程</h4>
                    <img class="img-fluid pt-3"
                         src="/img/急診流程.png"
                         alt="急診流程">