@* 權益與須知 *@
<ul class="nav nav-tabs news-flex" role="tablist">
    <li class="nav-item news-tab">
        <a class="nav-link active border border-right-0" id="right-tab" data-toggle="tab" href="#right" title="就醫權益"
            role="tab" aria-controls="right" aria-selected="true">就醫權益</a>
    </li>
    <li class="nav-item news-tab">
        <a class="nav-link border" id="know-tab" data-toggle="tab" href="#know" title="就醫須知" role="tab"
            aria-controls="know" aria-selected="false">就醫須知</a>
    </li>
</ul>
<div class="tab-content border border-top-0">
                        <div class="tab-pane fade show active" id="right" role="tabpanel" aria-labelledby="right-tab">
                            <div class="container">
                                <ol class="text-primary pl-4 pt-3">
                                    <li class="pb-2"><span
                                                class="text-dark">本院對所有住院病患之權利均一視同仁，不因您的種族、年齡、性別給予不同醫療上之待遇。</span>
                                    </li>
                                    <li class="pb-2"><span class="text-dark">本院醫事人員均佩戴有名牌或識別證。若未佩戴名牌或識別證者，您可以拒絕其所提供之醫療服務。</span>
                                    </li>
                                    <li class="pb-2"><span class="text-dark">秉持「病患為醫療主體」的概念，在您住院期間，本院醫師於診治時，應向您或您的陪病家屬解釋病情、主要檢驗、檢查相關資訊、治療方針及預後情形。</span>
                                    </li>
                                    <li class="pb-2"><span class="text-dark">若您對本院醫事人員所提供之醫療服務有任何不瞭解之處，本院非常鼓勵您向醫院或其他醫事人員發問、要求說明。</span>
                                    </li>
                                    <li class="pb-2"><span class="text-dark">若您需要接受手術治療，本院依規定，會先請您與您的配偶、親屬或關係人簽具手術及麻醉同意書，在簽具之前，醫師會先說明手術的原因、手術成功率或可能發生之併發症及危險，只有在取得您或您的配偶、親屬或關係人同意下，才會為您手術及麻醉。但若情況緊急，為搶救病人性命，依醫療法規定之條件，得先為病人手術。</span>
                                    </li>
                                    <li class="pb-2"><span class="text-dark">本院於您就醫過程中所知悉之病情、健康等一切秘密，均依法善盡保密義務。如果您不願意讓訪客查知您住院的訊息，請告知本院相關人員。</span>
                                    </li>
                                    <li class="pb-2"><span class="text-dark">本院應您的親屬、陪病家屬之要求，得適時向其解說您的病情，若您不願特定家屬知悉您的病情，請先以書面通知護理站工作人員或您的主治醫師，以利本院處理。</span>
                                    </li>
                                    <li class="pb-2"><span class="text-dark">為維護您的醫療自主權，本院對所有住院病患提供「預立選擇安寧緩和醫療意願書」、「不施行心肺復甦術同意書」、「醫療委任代理人委任書」及「預立選擇安寧緩和醫療意願撤回聲明書」，使醫師對不可治療之末期病人，得在尊重其意願之情形下，不施予積極性之治療或急救，僅提供減輕或免除其痛苦之緩解性、支持性醫療照護措施。</span>
                                    </li>
                                    <li class="pb-2"><span class="text-dark">為使有限的生命可化為無限的大愛，本院配合國家衛生政策對所有住院病患提供「器官捐贈同意書」，作為決定器官捐贈之依循，並可讓家屬充分瞭解病人之意願。</span>
                                    </li>
                                    <li class="pb-2"><span class="text-dark">若您對本院之住院服務有任何意見反應時，可使用本院申訴管道。</span>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="know" role="tabpanel" aria-labelledby="know-tab">
                            <div class="container">
                                <ol class="text-primary pl-4 pt-3">
                                    <li class="pb-2"><span class="text-dark">希望您能主動向醫事人員提供自身健康狀況、過去病史、過敏原、過敏史及其他有關之詳情，以配合提供適當之醫療服務。</span>
                                    </li>
                                    <li class="pb-2"><span class="text-dark">希望您在決策前，瞭解拒絕或接受治療後可能構成的危險或損害。</span>
                                    </li>
                                    <li class="pb-2"><span class="text-dark">希望您能尊重專業，不要求醫事人員提供不實之資料或診斷證明。</span>
                                    </li>
                                    <li class="pb-2"><span class="text-dark">希望您能遵從醫師之建議及醫囑之規定，進行已達成協議的醫療計畫，如果您無法接受醫護人員安排的醫療計畫，請將原因告知醫護人員，以便安排其他醫療方式。</span>
                                    </li>
                                    <li class="pb-2"><span class="text-dark">住院期間請不要服用非本院提供之藥品，如果您有服用，請告知醫護人員。</span>
                                    </li>
                                    <li class="pb-2"><span
                                                class="text-dark">為維護您的權利與健康，如有不明人士推銷任何物品及醫療用品，請告知護理站人員。</span>
                                    </li>
                                    <li class="pb-2"><span class="text-dark">住院或就診過程中，配合個人隱私，也請您與訪客能顧及他人權益避免干擾或是不為他人著想之行為。</span>
                                    </li>
                                    <li class="pb-2"><span class="text-dark">當您辦好住院手續後，若您想接受醫院提供之膳食，請於報到時，向護理站聲明。為維護病房安全，任何人不得在病房、浴室、洗手台上烹煮食物，若有需要可至各樓層之配膳間使用。為維護用電安全，不得使用未經本院許可電器用品等或其他危險物品(請勿危及醫療行為)。</span>
                                    </li>
                                    <li class="pb-2"><span class="text-dark">您入院後如要離開病房外出時，請通知護理人員，以免影響治療;欲外出離院者，請先徵得主治醫師同意填寫請假單，向護理站辦理請假手續，若您是健保身份住院，依規定晚間不得外宿(全民健康保險醫療辦法第十六條)。如請假逾期未歸超過4小時或未經請假即離院外宿者，本院得視為自動出院。</span>
                                    </li>
                                    <li class="pb-2"><span class="text-dark">本院為維護安全及病人權益訂有管制時間。住院期間如有人陪伴照料，請主要陪病者將陪病證隨身攜帶，以便陪病者出入醫院。本院門禁時間為晚間22點至次日早上6點；期間僅持有陪病證可進出醫院，請配合管制作業於進入醫院時登錄基本資料；若無陪病證之訪客，請在晚間22點離院(每床限一張陪病證)。</span>
                                    </li>
                                    <li class="pb-2"><span class="text-dark">希望您能增進自身健康並珍惜醫療資源。</span>
                                    </li>
                                    <li class="pb-2"><span class="text-dark">為維護您財物的安全，請勿攜帶貴重物品到醫院。</span>
                                    </li>
                                    <li class="pb-2"><span class="text-dark">請您配合維護病房安寧，控制音量勿大聲喧囂以免影響其他病人休息。</span>
                                    </li>
                                    <li class="pb-2"><span class="text-dark">遵守支付屬於您自行負擔的醫療費用。</span>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-primary mt-3" role="alert">
                        ※ 本院全面禁菸、禁嚼檳榔、禁止攜帶危險物品及法定違禁物品、寵物進入院內及於指定區域內禁止使用手機，以免影響其他病人安全及病人休息。
                    </div>
