@* 重大事記 *@

                    <div class="container">
                        <p class="text-align-justify">宏恩綜合醫院創立於民國54年，是國內第一家採用開放型態經營的綜合醫院，當時僅有52床。</p>
                        <ul class="timeline">
                            <li>
                                <div class="timeline-badge first">61年</div>
                                <div class="timeline-panel">
                                    <p class="text-align-justify pt-2">
                                        因營運狀況良好，擴展為80張病床的規模。
                                    </p>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge second">65年</div>
                                <div class="timeline-panel">
                                    <p class="text-align-justify pt-2">
                                        更名為財團法人宏恩醫院。
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge third">68年</div>
                                <div class="timeline-panel">
                                    <p class="text-align-justify pt-2">
                                        再度集資興建第三批院舍，擴展為現有規模。
                                    </p>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge fourth">69年</div>
                                <div class="timeline-panel">
                                    <p class="text-align-justify pt-2">
                                        開辦勞保門診、住院業務。
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge fifth">71年</div>
                                <div class="timeline-panel">
                                    <p class="text-align-justify pt-2">
                                        接受公轉診、住院業務。
                                    </p>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge sixth">73年</div>
                                <div class="timeline-panel">
                                    <p class="text-align-justify pt-2">
                                        通過教學醫院申請，共180床。
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge seventh">75年</div>
                                <div class="timeline-panel">
                                    <p class="text-align-justify pt-2">
                                        評定為地區教學醫院。
                                    </p>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge eighth">82年</div>
                                <div class="timeline-panel">
                                    <p class="text-align-justify pt-2">
                                        開辦糖尿病保健推廣教室。
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge ninth">84年</div>
                                <div class="timeline-panel">
                                    <p class="text-align-justify pt-2">
                                        開辦全民健保。
                                    </p>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge tenth">85年</div>
                                <div class="timeline-panel">
                                    <p class="text-align-justify pt-2">
                                        加護病房擴建。
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge eleventh">87年</div>
                                <div class="timeline-panel">
                                    <p class="text-align-justify pt-2">
                                        加入台北市緊急醫療網。
                                    </p>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge twelfth">88年</div>
                                <div class="timeline-panel">
                                    <p class="text-align-justify pt-2">
                                        評定為地區教學醫院。
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge thirteenth">91年</div>
                                <div class="timeline-panel">
                                    <p class="text-align-justify pt-2">
                                    <ol class="pl-3">
                                        <li>評定為乙類地區教學醫院。</li>
                                        <li>加入糖尿病、心血管共同照護網。</li>
                                    </ol>
                                    </p>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge fourteenth">93年</div>
                                <div class="timeline-panel">
                                    <p class="text-align-justify pt-2">
                                        辦理「畢業後一般醫學教育訓練-社區醫學訓練」。
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge fifteenth">98年</div>
                                <div class="timeline-panel">
                                    <p class="text-align-justify pt-2">
                                        新制醫院評鑑合格。
                                    </p>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge sixteenth">100年</div>
                                <div class="timeline-panel">
                                    <p class="text-align-justify pt-2">
                                    <ol class="pl-3">
                                        <li>加入慢性腎臟病照護網。</li>
                                        <li>通過無菸醫院認證，榮獲銀質獎。</li>
                                    </ol>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge seventeenth">103年</div>
                                <div class="timeline-panel">
                                    <p class="text-align-justify pt-2">
                                    <ol class="pl-3">
                                        <li>加入PAC「腦中風急性後期照顧」計畫。</li>
                                        <li>參與衛生福利部醫院品質績效量測指標系統與落實品質改善試辦計畫。</li>
                                    </ol>
                                    </p>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge eighteenth">104年</div>
                                <div class="timeline-panel">
                                    <p class="text-align-justify pt-2">
                                    <ol class="pl-3">
                                        <li>榮獲衛生福利部醫院品質績效量測指標系統與落實品質改善指標績優獎。</li>
                                        <li>參與台北市政府衛生局癌症防治績優醫院癌症防治最佳夥伴獎。</li>
                                    </ol>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge twentieth">105年</div>
                                <div class="timeline-panel">
                                    <p class="text-align-justify pt-2">
                                        通過衛生福利部新制醫院評鑑合格。
                                    </p>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge twenty-first">106年</div>
                                <div class="timeline-panel">
                                    <p class="text-align-justify pt-2">
                                        通過衛生福利部國民健康署新制健康醫院認證。
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge twenty-second">108年</div>
                                <div class="timeline-panel">
                                    <p class="text-align-justify pt-2">
                                        建置中…。
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
        
        