@* 管理團隊 *@
<div class="col-md-9 border border-top-0 border-right-0 border-bottom-0 mb-3">
                <h2 class="title-border pb-2"><span class="title-border-left pl-2">管理團隊</span>
                </h2>
                <!-- 管理團隊 -->
                                    <div class="row">
                                                    <div class="col-lg-6 py-2">
                                <div class="card team-card">
                                    <div class="container h-100">
                                        <div class="row">
                                            <div class="col-4 p-0">
                                                <img class="w-100 h-100" src="https://www.country.org.tw/img/about/team/朱紀洪.jpg" alt="院長朱紀洪">
                                            </div>
                                            <div class="col-8 py-2">
                                                <h4 class="card-title title-border-left pl-2">院長</h4>
                                                <p class="card-text mb-0">朱紀洪</p>
                                                <small class="text-muted text-align-justify m-0">尊重生命 以客為尊 重視病安 優質服務。</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-lg-6 py-2">
                                <div class="card team-card">
                                    <div class="container h-100">
                                        <div class="row">
                                            <div class="col-4 p-0">
                                                <img class="w-100 h-100" src="https://www.country.org.tw/img/about/team/sample.jpg" alt="首席副院長李建宏">
                                            </div>
                                            <div class="col-8 py-2">
                                                <h4 class="card-title title-border-left pl-2">首席副院長</h4>
                                                <p class="card-text mb-0">李建宏</p>
                                                <small class="text-muted text-align-justify m-0"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-lg-6 py-2">
                                <div class="card team-card">
                                    <div class="container h-100">
                                        <div class="row">
                                            <div class="col-4 p-0">
                                                <img class="w-100 h-100" src="https://www.country.org.tw/img/about/team/sample.jpg" alt="醫療副院長">
                                            </div>
                                            <div class="col-8 py-2">
                                                <h4 class="card-title title-border-left pl-2">醫療副院長</h4>
                                                <p class="card-text mb-0"></p>
                                                <small class="text-muted text-align-justify m-0"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-lg-6 py-2">
                                <div class="card team-card">
                                    <div class="container h-100">
                                        <div class="row">
                                            <div class="col-4 p-0">
                                                <img class="w-100 h-100" src="https://www.country.org.tw/img/about/team/sample.jpg" alt="財務副院長">
                                            </div>
                                            <div class="col-8 py-2">
                                                <h4 class="card-title title-border-left pl-2">財務副院長</h4>
                                                <p class="card-text mb-0"></p>
                                                <small class="text-muted text-align-justify m-0"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="col-lg-6 py-2">
                                <div class="card team-card">
                                    <div class="container h-100">
                                        <div class="row">
                                            <div class="col-4 p-0">
                                                <img class="w-100 h-100" src="https://www.country.org.tw/img/about/team/sample.jpg" alt="行政副院長">
                                            </div>
                                            <div class="col-8 py-2">
                                                <h4 class="card-title title-border-left pl-2">行政副院長</h4>
                                                <p class="card-text mb-0"></p>
                                                <small class="text-muted text-align-justify m-0"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                            </div>
                            <!-- 願景使命 -->
                            <!-- 重大事記 -->
                            <!-- 組織架構 -->
                            </div>