@* 願景使命 *@
<div class="col-md-9 border border-top-0 border-right-0 border-bottom-0 mb-3">
                <h2 class="title-border pb-2"><span class="title-border-left pl-2">願景使命</span>
                </h2>
                <!-- 管理團隊 -->
                            <!-- 願景使命 -->
                                    <h4 class="text-primary"><i class="fas fa-caret-right pr-2"></i>醫院宗旨</h4>
                    <div class="d-flex justify-content-center">
                        <img class="w-75 h-75 py-2" src="/img/醫院宗旨.png" alt="醫院宗旨">
                    </div>
                    <h4 class="text-primary"><i class="fas fa-caret-right pr-2"></i>五心策略</h4>
                    <div class="d-flex justify-content-center">
                        <img class="w-75 h-75 py-2" src="/img/策略.png" alt="五心策略">
                    </div>
                    <h4 class="text-primary py-2"><i class="fas fa-caret-right pr-2"></i>105-106年病人安全八大目標</h4>
                    <ol class="text-primary pl-4 pt-1 pb-2 m-0">
                        <li class="pb-2"><span class="text-dark">提升醫療照護人員間的有效溝通。</span>
                        </li>
                        <li class="pb-2"><span class="text-dark">落實病人安全事件管理。</span>
                        </li>
                        <li class="pb-2"><span class="text-dark">提升手術安全。</span>
                        </li>
                        <li class="pb-2"><span class="text-dark">預防病人跌倒及降低傷害程度。</span>
                        </li>
                        <li class="pb-2"><span class="text-dark">提升用藥安全。</span>
                        </li>
                        <li class="pb-2"><span class="text-dark">落實感染管制。</span>
                        </li>
                        <li class="pb-2"><span class="text-dark">提升管路安全。</span>
                        </li>
                        <li class="pb-2"><span class="text-dark">鼓勵病人及其家屬參與病人安全工作。</span>
                        </li>
                    </ol>
                    <h4 class="text-primary"><i class="fas fa-caret-right pr-2"></i>本院任務</h4>
                    <p class="text-align-justify pt-2">
                        　　本院社區團隊以醫療服務社會的宗旨，積極發揮專業功能，深入社區服務。在各個社區中，不但促使民眾對保健議題之重視，並且提供各項醫療保健相關的服務，以及協助社區民眾落實健康的生活型態。對於地方上各種有醫療保健活動，皆主動予以關切，並就專業之立場提供醫療諮詢和意見，並結合社區內各醫療系統，以提昇社區醫療保健水準，積極發揮本院之社區角色。<br>　　本院自許扮演推廣社區預防保健的角色、擔任兒童早期療育的復健機構並成為民眾疾病診療的社區醫院。
                    </p>
                    <ul class="text-primary pl-4 pt-1 py-2 m-0">
                        <li class="pb-2"><span class="text-dark">本院在社區的功能：</span>
                            <ol class="text-align-justify">
                                <li><span class="text-dark">辦理健康衛教活動，提高社區民眾健康意識，進而實化各種保健作為。</span>
                                </li>
                                <li><span class="text-dark">推展各項健康篩檢，使預防保健普及化，達到疾病預防之目的。</span>
                                </li>
                                <li><span class="text-dark">積極建立雙向溝通，以了解社區民眾健康需求，適時提供協助。</span>
                                </li>
                                <li><span class="text-dark">定期舉辦各類專業訓練，以提昇社區內之醫療照護品質。</span>
                                </li>
                            </ol>
                        </li>
                        <li class="py-2"><span class="text-dark">相關的注意事項：</span>
                            <ol class="text-align-justify">
                                <li><span class="text-dark">本院屬醫療財團法人，受主管機關衛生福利部監督，依醫療法規定不得私自募資、募股，本院財務狀況正常，未與任何單位辦理合資、募資、募股之情事，亦無預收各項醫療與療程之費用。</span>
                                </li>
                                <li><span class="text-dark">本院為醫療機構，為持續以專業醫療品質服務民眾，透過衛福部核准之捐助章程依法報備核可，得接受各方捐款捐贈。</span>
                                </li>
                                <li><span class="text-dark">本院所有訊息，僅以本官網為訊息揭露窗口，未於其他網路架設相關資訊，請避免進入，以免誤信。</span>
                                </li>
                            </ol>
                        </li>
                    </ul>
                            <!-- 重大事記 -->
                            <!-- 組織架構 -->
                            </div>